<div>
    <img src="../images/d-lishs-logo.png" alt="D-Lish's Food Logo" width="150" height="150">
    <div>
        <a href="#" id="menu"></a>
        <a href="../cart/cart.html"><img src="../images/cart-logo.svg" alt="Shopping Cart Icon" width="50" height="50"></a>
    </div>
</div>
<nav>
    <ul id="navigation">
        <li><a href="../index.html">Home</a></li>
        <li><a href="../products/products.html">Products</a></li>
        <li><a href="../recipes/recipes.html">Recipes</a></li>
    </ul>
</nav>