<p>©<span id="currentYear"></span> 🌷 Diane Lish | United States <br>
    Last Modified <span id="lastModified"></span></p>

<div class="social-media">
    <a href="https://www.youtube.com/"><img src="../images/youtube-logo.svg" alt="Youtube logo" width="30"
            height="30" loading="lazy"></a>
    <a href="https://x.com/"><img src="../images/twitter-logo.svg" alt="Twitter logo" width="30" height="30"
            loading="lazy"></a>
    <a href="https://www.facebook.com/"><img src="../images/facebook-logo.svg" alt="Facebook logo" width="30"
            height="30" loading="lazy"></a>
</div>